<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417035655423-funltuifebce1fdq0hga4s4me3d72teb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417035655423-funltuifebce1fdq0hga4s4me3d72teb</string>
	<key>API_KEY</key>
	<string>AIzaSyDLPRyefMSEilfsdNJeCUdAvLl7SwS49ao</string>
	<key>GCM_SENDER_ID</key>
	<string>417035655423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPrototipo</string>
	<key>PROJECT_ID</key>
	<string>app-medico-a5a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>app-medico-a5a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417035655423:ios:11a482568ae9e663a954ca</string>
</dict>
</plist>